  .d_button {
    width: 20em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #adcee0;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin:15px;
  }
  
  .d_button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .d_button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
  }
  
  .d_button:hover::before, .d_button:hover::after {
    transform: scale(0)
  }
  
  .d_button:hover {
    box-shadow: inset 0px 0px 25px #adcee0;
  }

.links {
  color: inherit;
  text-decoration: none;
  background:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
  ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.links:hover {
  background-size: 0 1px, 100% 1px;
}
