
.card {
  /* position: relative; */
  display: inline-flex;
  align-items: center;
  width: 75vw;
  max-width: 350px;
  border-radius: 24px;
  margin-bottom: 10px;
}

.card img {
  max-width: 150px;
  width: 36vw;
  height: 150px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
  transition: border-radius 0.3s;
}

.card h2 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  opacity: 0.75;
}

.card p {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0.5;
}

.socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.socials > button {
  position: relative;
  border: 0;
  background: transparent;
  color: #f8f8f8;
  padding: 0;
}

.socials > button:first-child::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  translate: -50% -50%;
  border-radius: 50%;
  background: var(--gradient);
  transition: 0.3s;
  transform: translateY(0);
}

.socials > button > a > i {
  position: relative;
  z-index: 1;
  border: 4px solid var(--card);
  background: #3f3b39;
  display: grid;
  place-items: center;
  font-size: 24px;
  width: 35px;
  height: 35px;
  border-radius: 40px;
}

@media (width <= 600px) {
  .card {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
    height: 250px;
  }

  .card p {
    max-width: 360px;
  }

  .socials {
    justify-content: center;
  }
}
